{% extends 'base.html' %}
{% block title %}Client Queries{% endblock title %}
{% block client %}text-2xl font-semibold text-[#455A45]{% endblock client %}
{% block content %}
<div class="bg-[#D1E5D0] p-4 px-[10%] m-auto max-w-screen-2xl">
    <div class="bg-white rounded-xl p-4">
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">List the number, name, and telephone number of clients and their property preferences at a given branch.</h1>
            <form action="{% url 'cq-1' %}">
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-3">
                        <h1 class="">Branch number: </h1>
                        <input value="{{input_c1}}" class="px-2 py-1 outline-none border-2 border-black rounded-xl" name='cq1' id='cq1' type="text">
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q1 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-32 pl-4 text-left font-medium">Client No</div>
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Name</div>
                        <div class="border-2 border-2 border-black w-40 pl-4 text-left font-medium">Phone</div>
                        <div class="border-2 border-2 border-black w-40 pl-4 text-left font-medium">Property Type</div>
                    </div>
                    {% for row in q1%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-32 text-left pl-4">{{row.0}}</div>
                        <div class="border-2 w-60 text-left pl-4">{{row.1}}</div>
                        <div class="border-2 w-40 text-left pl-4">{{row.2}}</div>
                        <div class="border-2 w-40 text-left pl-4">{{row.3}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">List the clients registering at the branch and the names of the members of staff who registered the clients.</h1>
            <form action="{% url 'cq-2' %}">
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-3">
                        <h1 class="">Branch number: </h1>
                        <input value="{{input_c2}}" name='c2' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q2 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Client Name</div>
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Staff Name</div>
                    </div>
                    {% for row in q2%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-60 text-left pl-4">{{row.0}}</div>
                        <div class="border-2 w-60 text-left pl-4">{{row.1}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]"> List the details of comments made by clients viewing a given property.</h1>
            <form action="{% url 'cq-3' %}">
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-2">
                        <h1 class="">Property number: </h1>
                        <input value="{{input_c3}}" name='c3' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q3 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Property No</div>
                        <div class="border-2 border-2 border-black w-40 pl-4 text-left font-medium">Client No</div>
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Date</div>
                        <div class="border-2 border-2 border-black w-full pl-4 text-left font-medium">Comment</div>
                    </div>
                    {% for row in q3%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-60 text-left pl-4">{{row.0}}</div>
                        <div class="border-2 w-40 text-left pl-4">{{row.1}}</div>
                        <div class="border-2 w-60 text-left pl-4">{{row.2}}</div>
                        <div class="border-2 w-full text-left pl-4">{{row.3}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">Display the names and phone numbers of clients who have viewed a given property but not supplied comments.</h1>
            <form action="{% url 'cq-4' %}">
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-2">
                        <h1 class="">Property number: </h1>
                        <input value="{{input_c4}}" name='c4' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q4 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Name</div>
                        <div class="border-2 border-2 border-black w-60 pl-4 text-left font-medium">Phone Number</div>
                    </div>
                    {% for row in q4%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-60 text-left pl-4">{{row.0}}</div>
                        <div class="border-2 w-60 text-left pl-4">{{row.1}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">Display the details of a lease between a named client and a given property.</h1>
            <form action="{% url 'cq-5' %}">
                <div class="flex justify-between items-center my-2">
                    <div>
                        <div class="flex items-center gap-2 mb-2">
                            <h1 class="mr-5">Client number: </h1>
                            <input value="{{input_c5_1}}" name='c5_1' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                        </div>
                        <div class="flex items-center gap-2">
                            <h1 class="">Property number: </h1>
                            <input value="{{input_c5_2}}" name='c5_2' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                        </div>
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q5 %}
                <div class="">
                    <div class="flex items-center mb-3 gap-4 overflow-x-auto">
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Client No</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Property_no</div>
                        <div class="border-2 border-2 border-black w-20 pl-1 text-left font-medium">Rent</div>
                        <div class="border-2 border-2 h-7 border-black w-40 pl-1 text-left font-medium overflow-y-auto">Payment Method</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Deposite Paid</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Start</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Finish</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Duration</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Branch No</div>
                    </div>
                    {% for row in q5%}
                    <div class="flex gap-4 items-center mb-1 overflow-x-auto text-gray-500">
                        <div class="border-2 w-40 text-left pl-1">{{row.0}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.1}}</div>
                        <div class="border-2 w-20 text-left pl-1">{{row.2}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.3}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.4}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.5}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.6}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.7}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.8}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">Produce a list of clients whose preferences match a particular property.</h1>
            <form action="{% url 'cq-6' %}">
                <div class="flex justify-between items-center my-2">
                    <div>
                        <div class="flex items-center gap-2 mb-2">
                            <h1 class="mr-1">Property Type: </h1>
                            <input value="{{input_c6_1}}" name='c6_1' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                        </div>
                        <div class="flex items-center gap-2">
                            <h1 class="mr-10">Max Rent: </h1>
                            <input value="{{input_c6_2}}" name='c6_2' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                        </div>
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
                {% if q6 %}
                <div class="">
                    <div class="flex items-center mb-3 gap-4 overflow-x-auto">
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Client No</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Name</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Prop-Type</div>
                        <div class="border-2 border-2 border-black w-24 pl-1 text-left font-medium">MaxRent</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Batch No</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Staff No</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Date</div>
                        <div class="border-2 border-2 border-black w-40 pl-1 text-left font-medium">Phone Number</div>
                    </div>
                    {% for row in q6%}
                    <div class="flex gap-4 items-center mb-1 overflow-x-auto text-gray-500">
                        <div class="border-2 w-40 text-left pl-1">{{row.0}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.1}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.2}}</div>
                        <div class="border-2 w-24 text-left pl-1">{{row.3}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.4}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.5}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.6}}</div>
                        <div class="border-2 w-40 text-left pl-1">{{row.7}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        
    </div>
</div>
{% endblock content %}