{% extends 'base.html' %}
{% block title %}Owner Queries{% endblock title %}
{% block owner %}text-2xl font-semibold text-[#455A45]{% endblock owner %}
{% block content %}
<div class="bg-[#D1E5D0]  h- p-4 px-[10%] m-auto max-w-screen-2xl">
    <div class="bg-white rounded-xl p-4">
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]"> Identify the details of private property owners that provide more than one property for rent.</h1>
            <form action="">
                {% csrf_token %}
                <div class="flex justify-end items-center my-2">
                    <div><button class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">Identify the name and telephone number of an owner of a given property.</h1>
            <form action="">
                {% csrf_token %}
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-2">
                        <h1 class="">Property name: </h1>
                        <input class="outline-none border-2 border-black rounded-xl" type="text">
                    </div>
                    <div><button class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}