{% extends 'base.html' %}
{% block title %}Owner Queries{% endblock title %}
{% block owner %}text-2xl font-semibold text-[#455A45]{% endblock owner %}
{% block content %}
<div class="bg-[#D1E5D0]  h- p-4 px-[10%] m-auto max-w-screen-2xl">
    <div class="bg-white rounded-xl p-4">
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]"> Identify the details of private property owners that provide more than one property for rent.</h1>
            <form action="{% url 'oq-1' %}">
                <div class="flex justify-end items-center my-2">
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q1 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-40 pl-2 text-left font-medium">Owner No</div>
                        <div class="border-2 border-2 border-black w-40 pl-2 text-left font-medium">Name</div>
                        <div class="border-2 border-2 border-black w-60 pl-2 text-left font-medium">Address</div>
                        <div class="border-2 border-2 border-black w-40 pl-2 text-left font-medium">Telephone</div>
                        <div class="border-2 border-2 border-black w-60 pl-2 text-left font-medium">Business Type</div>
                        <div class="border-2 border-2 border-black w-60 pl-2 text-left font-medium">Company Name</div>
                    </div>
                    {% for row in q1%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-40 text-left text-center">{{row.0}}</div>
                        <div class="border-2 w-40 text-left text-center">{{row.1}}</div>
                        <div class="border-2 w-60 text-left text-center">{{row.2}}</div>
                        <div class="border-2 w-40 text-left text-center">{{row.3}}</div>
                        <div class="border-2 w-60 text-left text-center">{{row.4}}</div>
                        <div class="border-2 w-60 text-left text-center">{{row.5}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
        <div class="rounded-xl border-2 hover:shadow-lg hover:scale-[1.02] duration-200 py-3  px-4 mb-3">
            <h1 class="text-2xl font-medium text-[#5B735A]">Identify the name and telephone number of an owner of a given property.</h1>
            <form action="{% url 'oq-2' %}">
                <div class="flex justify-between items-center my-2">
                    <div class="flex items-center gap-2">
                        <h1 class="">Property number: </h1>
                        <input value="{{input_o1}}" name='o2' class="px-2 py-1 outline-none border-2 border-black rounded-xl" type="text">
                    </div>
                    <div><button type='submit'  class="bg-black text-white rounded-2xl text-lg px-3 py-1 hover:bg-white hover:text-black hover:border-2 hover:border-black hover:font-medium">Execute</button></div>
                </div>
            </form>
            {% if q2 %}
                <div>
                    <div class="flex items-center mb-3 gap-4">
                        <div class="border-2 border-2 border-black w-40 pl-4 text-left font-medium">Name</div>
                        <div class="border-2 border-2 border-black w-80 pl-4 text-left font-medium">Telephone</div>
                    </div>
                    {% for row in q2%}
                    <div class="flex gap-4 items-center mb-1 text-gray-500">
                        <div class="border-2 w-40 text-left pl-4">{{row.0}}</div>
                        <div class="border-2 w-80 text-left pl-4">{{row.1}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
    </div>
</div>
{% endblock content %}